<section id="contact"  >
    <div class="title-box" data-aos="flip-right">
        <div class="line"></div>
        <h1 class="title" > {{"contact.title"|translate}}</h1>
    </div>
    <div class="d-flex">
        <div class="descriptionBox" >
            <div class="subtitle">{{"contact.subtitle"|translate}}</div>
            <div class="text">{{"contact.text"|translate}}</div>
            <p>{{"contact.help"|translate}} <b> {{"contact.bold"|translate}}</b> </p>
        </div>

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" data-aos="flip-down">
            <!-- name -->
            <div class="inputBox">
                <input #name="ngModel" type="text" placeholder='{{"form.name"|translate}}' name="name"
                    [(ngModel)]="contactData.name" [ngClass]="{
                        'input-error': name.invalid && (name.touched || name.dirty),
                        'input-control': name.valid && (name.touched || name.dirty)
                    }" required minlength="4" required>
                <div [ngClass]="{'visible':name.invalid && (name.touched || name.dirty)}" class="error-msg">
                    {{"contact.err_name"|translate}}
                </div>
            </div>

            <!-- email -->

            <div class="inputBox">
                <input #email="ngModel" type="email" placeholder='{{"form.email"|translate}}' name="email"
                    [(ngModel)]="contactData.email" [ngClass]="{
                        'input-error': email.invalid && (email.touched || email.dirty),
                        'input-control': email.valid && (email.touched || email.dirty)
                    }" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                <div [ngClass]="{'visible':email.invalid && (email.touched || email.dirty)}" class="error-msg">
                    {{"contact.mail_error"|translate}}
                </div>
            </div>

            <!-- message -->
            <div class="textareaBox" >
                <textarea #message="ngModel" name="message" placeholder='{{"form.message"|translate}}'
                    [(ngModel)]="contactData.message" [ngClass]="{
                    'textarea-error': message.invalid && (message.touched || message.dirty),
                    'textarea-control': message.valid && (message.touched || message.dirty)
                }" required minlength="4">
            </textarea>

                <div [ngClass]="{'visible':message.invalid && (message.touched || message.dirty)}" class="error-msg">
                    {{"contact.msg_error"|translate}}
                </div>
            </div>

            <!-- checkbox -->
            <div class="checkbox-container">
                <div class="input-checkBox">
                    <input type="checkbox" id="checkbox" name="isAgree" [(ngModel)]="contactData.isAgree"
                        #checkbox="ngModel" required class="checkBox-style">
                    <label for="checkbox" class="custom-checkbox"></label>
                    <p>{{"contact.p"|translate}} <a routerLink="/privacy-policy" (click)="scrollToTop()" href="/privacy-policy">{{"contact.agb"| translate}}
                        </a>{{"contact.agree"|translate}}
                    </p>
                </div>

                <div [ngClass]="{'visible':checkbox.invalid && (checkbox.touched || checkbox.dirty)}" class="error-msg">
                    Please accept the privacy policy
                </div>
            </div>
            <button type="submit" [disabled]="contactForm.invalid" class="submitBtn"
                [ngClass]="{ 'submitBtn-disabled': contactForm.invalid }">
                {{"contact.send"|translate}}
            </button>

            <a href="#home" class="go-up"> <img src=".\assets\icons\Go up button.png" alt=""></a>
        </form>

    </div>

    <div id="customPopup" class="popup">
        <div class="popup-content">
          <span class="close-btn" (click)="closePopup()">&times;</span>
          <p>{{"contact.alert"| translate}}</p>
        </div>
      </div>
</section>