<section id="about">
    <div class="aboutmeBox">
        <h1 class="title m-l">About me</h1>
        <div class="aboutme-content">
            Hello! I'm Takoua, a passionate Front End Developer with a keen eye for design and a knack for crafting
            seamless user experiences. With a strong foundation in HTML, CSS, and JavaScript, I specialize in building
            responsive, user-friendly websites and web applications.
            <div class="aboutmeInfo">
                <img src=".\assets\img\bulb desktop.png" alt="">
                <div>I love bringing fresh and creative ideas to the table. My innovative approach to problem-solving
                    ensures that the projects I work on are not only functional but also unique and engaging.</div>
            </div>
            <div class="aboutmeInfo">
                <img src=".\assets\img\puzzle desktop.png" alt="">
                <div> I enjoy tackling complex challenges and finding effective solutions. My analytical skills and
                    attention to detail help me break down problems and deliver high-quality results.</div>
            </div>

        </div>
    </div>
    <div class="aboutme-imageBox">
        <div class="imageBox">
            <img src="./assets/img/profileImg.png" alt="">
            <div class="line"></div>
        </div>
    </div>
</section>