<section id="about"  >
    <div class="aboutmeBox" data-aos="zoom-in" >
    
        <h1 class="title m-l" data-aos="flip-left">{{"about.about_title" | translate}}  </h1>
        <div class="aboutme-content" >
            {{"about.about_content" | translate}} 
            <div class="aboutmeInfo">
                <img src=".\assets\img\bulb desktop.png" alt="">
                <div>{{"about.innovative" | translate}}  </div>
            </div>
            <div class="aboutmeInfo">
                <img src=".\assets\img\puzzle desktop.png" alt="">
                <div >{{"about.creative" | translate}}</div>
            </div>

        </div>
    </div>
    <div class="aboutme-imageBox" data-aos="flip-left">
        <div class="imageBox">
            <img src="./assets/img/profileImg.png" alt="">
            <div class="line"></div>
        </div>
    </div>
</section>