<app-header></app-header>
<section id="home">
    <div class="profileBildBox">
        <img src="./assets/img/profileImg.png" alt="">
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;">
        <div class="presentation">
            <div class="iam">I am</div>
            <div style="display: flex;flex-direction: column;">
                <span class="name">Takoua Jelassi</span>
                <span class="profession">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <a href="#contact"><button>Let's talk!</button></a>
    </div>

</section>
<div class="contactLinks">
    <div class="contactLinks">
        <div class="line"></div>
        <a href="https://github.com/Takoua852" target="_blank">
            <img src="./assets/img/github.png" alt="GitHub Icon" class="icon">
        </a>
        <a href="mailto:takoua.jelassi@aislab.de">
            <img src="./assets/img/email.png" alt="Email Icon" class="icon">
        </a>
        <a href="https://www.linkedin.com/in/takoua-jelassi-b37187312/" target="_blank">
            <img src="./assets/img/linkedin.png" alt="LinkedIn Icon" class="icon">
        </a>

        <a href="#contact" class="email">takoua.jelassi&#64;aislab.de</a>
    </div>


    <div class="scrollBtn">
        Scroll down →
    </div>
</div>