#home {
    display: flex;
    align-items: center;
    background-image: url('./../../../assets/img/shapepage.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    background-color: rgb(34, 45, 67);
    background-position-y: 100%;
    padding-top: 120px;
}

.profileBildBox {

    background-image: url('./../../../assets/img/Photo shadows.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    width: 50%;
    border-radius: 30%;

    img {
        border-radius: 10%;
        width: 50%;
    }
}

 .presentation {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
   width: 100%;

    .iam {
        transform: rotate(-90deg);
        font-size: 54px;
        font-weight: 400;
        display: flex;
        align-items: baseline;
        justify-content: center;
        width:  auto;
    }

}


 .name {
    font-size: 65px;
    font-weight: 700;
}

.profession {
    font-size: 47px;
    font-weight: 400;
    color: rgba(75, 71, 255, 1);
}

button {
    width: 200px;
    height: 58px;
    border-radius: 10px;
    align-self: center;
    background: rgb(0, 190, 232);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: #fff;
    border: unset;
    margin-top: 50px;
    transition: all 0.2s ease;

    &:hover {
        background-color: rgb(75, 71, 255);
        transform: scale(1.2);
        cursor: pointer;
    }
}

.contactLinks {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: space-between;

    .line {
        border: 3px solid rgba(75, 71, 255, 1);
        border-radius: 0 5px 5px 0;
        width: 100px;
    }

    .icon:hover {
        transform: scale(1.3);
        cursor: pointer;
    }
}

.scrollBtn {
    transform: rotate(90deg);
    margin-right: 150px;
    font-size: 23px;
    font-weight: 400;
    position: relative;
    animation: mymove 3s linear infinite alternate;
}

@keyframes mymove {
    from {
        top: -100px;
    }
    to {
        top: 0px;
    }
}

.email {
    text-decoration: none;
    color: #fff;
}

// responsive //
@media screen and (max-width: 1380px) {
    .name {
        font-size: 40px;
    }

    .profession {
        font-size: 32px;
    }

    .presentation {
        .iam {
            font-size: 42px;
        }
    }

    .scrollBtn{
        margin-right: 10px;
    }
}

@media screen and (max-width: 890px) {
    #home {
        flex-direction: column;
        padding: 100px 0;
        height: auto;
    }

    .profileBildBox {
        width: 100%;
    }

    .scrollBtn {
        margin-right: 0;
        font-size: 16px;
    }

    .contactLinks {
        gap: 16px;

        .line {
            width: 75px;
        }
    }
    .presentation{
        padding-top: 35px;
    }
}

/// mobile ////
@media screen and (max-width: 550px) {
    .name {
        font-size: 34px;
    }

    .profession {
        font-size: 25px;
    }

    .presentation {
        .iam {
            font-size: 30px;
        }
    }

    .scrollBtn,
    .email {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .name {
        font-size: 26px;
    }

    .profession {
        font-size: 19px;
    }

    .presentation {
        .iam {
            font-size: 24px;
        }
    }
}