<section id="skills" >
    <div class="skills-content"  >  <div class="iconsBox" data-aos="fade-right" >
        <div class="d-column" ><img src="./assets/icons/Angular.png" alt="">Angular</div>
        <div class="d-column"><img src="./assets/icons/typescript.png" alt="">TypeScript</div>
        <div class="d-column"><img src="./assets/icons/Javascript.png" alt="">JavaScript</div>
        <div class="d-column"><img src="./assets/icons/html.png" alt="">Html</div>
        <div class="d-column"><img src="./assets/icons/Firebase.png" alt="">Firebase</div>
        <div class="d-column"><img src="./assets/icons/git.png" alt="">Git</div>
        <div class="d-column"><img src="./assets/icons/css.png" alt="">css</div>
        <div class="d-column"><img src="./assets/icons/Api.png" alt="">Rest-Api</div>
        <div class="second-iconBox">

            <div class="d-column"><img src="./assets/icons/scrum.png" alt="">scrum</div>
            <div class="d-column"><img src="./assets/icons/Frame.png" alt="">Material Design</div>
        </div>
    </div>
    <div class="title-box" data-aos="fade-left" >
        <div class="title-line" data-aos="flip-left">
            <h1 class="title"  >Skills</h1>
            <div class="line"></div>
        </div>
        <div style="display: flex;flex-direction: column;align-items: center;">
            <p>{{"skills.description"|translate}}</p>
            
        </div>
    </div></div>
  
    <a href="#contact"><button>{{"skills.btn"|translate}}</button></a>
</section>
