<section id="skills" >
    <div class="skills-content">  <div class="iconsBox">
        <div class="d-column"><img src="./assets/icons/Angular.png" alt="">Angular</div>
        <div class="d-column"><img src="./assets/icons/typescript.png" alt="">Typescript</div>
        <div class="d-column"><img src="./assets/icons/Javascript.png" alt="">Javascript</div>
        <div class="d-column"><img src="./assets/icons/html.png" alt="">Html</div>
        <div class="d-column"><img src="./assets/icons/Firebase.png" alt="">Firebase</div>
        <div class="d-column"><img src="./assets/icons/git.png" alt="">Git</div>
        <div class="d-column"><img src="./assets/icons/css.png" alt="">css</div>
        <div class="d-column"><img src="./assets/icons/Api.png" alt="">Rest-Api</div>
        <div class="second-iconBox">

            <div class="d-column"><img src="./assets/icons/scrum.png" alt="">scrum</div>
            <div class="d-column"><img src="./assets/icons/Frame.png" alt="">Material Design</div>
        </div>
    </div>
    <div class="title-box">
        <div class="title-line">
            <h1 class="title">My skills</h1>
            <div class="line"></div>
        </div>
        <div style="display: flex;flex-direction: column;align-items: center;">
            <p>I have grown my frontend developments skills that have allowed me to create different real
                projects.</p>
            
        </div>
    </div></div>
  
    <a href="#contact"><button>Get in touch</button></a>
</section>
