.privacy-policy {

    padding: 50px;
    width: auto;
    box-sizing: border-box;
    padding-top: 200px;
    min-height: 1200px;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: rgba(0, 190, 232, 1)
}

@media screen and (max-width:750px) {
    .privacy-policy {
        padding: 16px;
        padding-top: 150px;
    }

    a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }


}