.impressum {
    padding:120px 50px;
    width: auto;
    box-sizing: border-box;
    min-height: 1200px;
}

a {
    text-decoration: none;
    color: rgba(0, 190, 232, 1)
}

@media screen and (max-width:750px) {
    .impressum {
        padding-left: 16px;
        padding-right: 16px;
       
    }
}