
<div class='impressum'>
    <h1>{{"Impressum.title"|translate}}</h1>
    <p>{{"Impressum.p1"|translate}}</p>
    <p>Takoua Jelassi <br>
        Abraham-Lincoln-Alle 84<br>
        68309 Mannheim <br>
    </p>
    <p> <strong>{{"Impressum.p2"|translate}} </strong><br>
        Takoua Jelassi<br>
    </p>
    <p><strong>{{"Impressum.p3"|translate}}</strong> <br>
        Telefon: 0176-84258925<br>
        E-Mail: <a href='mailto:takoua.jelassi@yahoo.de'>takoua.jelassi&#64;yahoo.de</a><br></p>
    <p><strong>{{"Impressum.p4"|translate}} </strong><br><br><strong>{{"Impressum.p5"|translate}}</strong><br><br>
       {{"Impressum.p6"|translate}}<br><br><strong>{{"Impressum.p7"|translate}}</strong><br><br>
       {{"Impressum.p8"|translate}}<br><br><strong>{{"Impressum.p9"|translate}}</strong><br><br>
        {{"Impressum.p10"|translate}}<br>
       {{"Impressum.p11"|translate}} <br>
        {{"Impressum.p12"|translate}}<br>
    </p><br>
    <a href="https://www.flaticon.com/de/kostenlose-icons/vereinigte-staaten"
        title="vereinigte staaten Icons">Vereinigte staaten Icons erstellt von Roundicons - Flaticon</a>
    <br><a href="https://www.flaticon.com/de/kostenlose-icons/deutschland" title="deutschland Icons">Deutschland Icons
        erstellt von Roundicons - Flaticon</a><br>
   <br> Website Impressum erstellt durch <a href="https://www.impressum-generator.de">impressum-generator.de</a> von der <a
        href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a>
</div>