<section id="footer">
    <div class="d-flex">
        <div class="f-logo">
            <a href="#home" class="home">Ta|<img src=".\assets\img\letterK.png" class="k-letter">oua.</a>
            <!-- <a href="./../../impressum/" class="imprint">Impressum</a> -->
       
            <a routerLink="/impressum" class="imprint" (click)="scrollToTop()">{{"footer"|translate}}</a>
        
        </div>
        <div class="copyright">&copy; Takoua Jelassi 2024</div>

        <div class="f-buttons">
            <a href="https://github.com/Takoua852" target="_blank">
                <img src="./assets/img/github.png" alt="GitHub Icon" class="icon">
            </a>
            <a href="mailto:takoua.jelassi@yahoo.de" >
                <img src="./assets/img/email.png" alt="Email Icon" class="icon">
            </a>
            <a href="https://www.linkedin.com/in/takoua-jelassi-b37187312/" target="_blank">
                <img src="./assets/img/linkedin.png" alt="LinkedIn Icon" class="icon">
            </a>
        </div>
    </div>
</section>