<section id="portfolio" >
    <div class="title-box" data-aos="flip-left">
        <div class="first-line"></div>
        <h1 class="title" >Portfolio</h1>
        <div class="second-line"></div>
    </div>
    <p style="display: flex;justify-content: center;">{{"portfolio.desc"|translate}}</p>
    <div class="projects-container" >
        <div class="d-flex first-project" data-aos="fade-right" >
            <img src=".\assets\img\Pictures (PC mock up) (1).png" alt="">
            <div class="project-description">
                <h2 class="project-title">Join</h2>
                <div class="untertitle">Angular | TypeScript | HTML | CSS | Firebase</div>
                <p>{{"portfolio.join"|translate}} </p>
                <div class="buttonBox">

                    <button class="btn-portfolio"><a href="https://takoua-jelassi.com/join/"
                            style="text-decoration: none;color: #fff;" target="_blank">Live test</a> </button>
                    <button class="scd-btn"><a href="https://github.com/Takoua852/join"
                            style="text-decoration: none;color: #fff;" target="_blank">Github</a></button>
                </div>
            </div>
        </div>
        <div class="d-flex second-project" data-aos="fade-left">
            <div class="project-description">
                <h2 class="project-title">Pollo Loco</h2>
                <div class="untertitle">JavaScript | HTML | CSS</div>
                <p>{{"portfolio.polo_loco"|translate}} </p>
                <div class="buttonBox">
                    <button class="btn-portfolio"><a href="https://takoua-jelassi.com/el_pollo_loco/"
                            style="text-decoration: none;color: #fff;" target="_blank">Live test</a></button>
                    <button class="scd-btn"><a href="https://github.com/Takoua852/El-Pollo-Loco"
                            style="text-decoration: none;color: #fff;" target="_blank">Github</a></button>
                </div>
            </div>
            <img src=".\assets\img\Pollo loco 1.png" alt="">
        </div>
        <div class="d-flex third-project" data-aos="fade-right">
            <img src=".\assets\img\Pictures (PC mock up) (2).png" alt="">
            <div class="project-description">
                <h2 class="project-title">Pokédex</h2>
                <div class="untertitle">JavaScript | HTML | CSS | Api</div>
                <p>{{"portfolio.pokedex"|translate}}</p>
                <div class="buttonBox">
                    <button class="btn-portfolio"> <a href="https://takoua-jelassi.com/pokedex/"
                            style="text-decoration: none;color: #fff;" target="_blank">Live test</a></button>
                    <button class="scd-btn"><a href="https://github.com/Takoua852/Pokedex"
                            style="text-decoration: none;color: #fff;" target="_blank">Github</a></button>
                </div>
            </div>
        </div>
    </div>
</section>