<section id="portfolio">
    <div class="title-box">
        <div class="first-line"></div>
        <h1 class="title">Portfolio</h1>
        <div class="second-line"></div>
    </div>
    <p style="display: flex;justify-content: center;">Explore a selection of my work here - Interact with projects to
        see my
        skills in action.</p>
    <div class="projects-container">
        <div class="d-flex first-project">
            <img src=".\assets\img\Pictures (PC mock up) (1).png" alt="">
            <div class="project-description">
                <h2 class="project-title">Join</h2>
                <div class="untertitle">Angular | TypeScript | HTML | CSS | Firebase</div>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                    assign users and categories. </p>
                    <div class="buttonBox">
                        <button class="btn-portfolio"><a href="https://takoua-jelassi.developerakademie.net/join/" target="_blank" style="text-decoration: none;color: #fff;" >Live test</a> </button>
                        <button class="scd-btn"><a href="https://github.com/Takoua852/join" style="text-decoration: none;color: #fff;" target="_blank">Github</a></button>
                    </div>
            </div>
        </div>
        <div class="d-flex second-project">
            <div class="project-description">
                <h2 class="project-title">Pollo Loco</h2>
                <div class="untertitle">JavaScript | HTML | CSS</div>
                <p>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa
                    to fight against the crazy hen. </p>
                    <div class="buttonBox">
                        <button class="btn-portfolio"><a href="https://takoua-jelassi.developerakademie.net/el_pollo_loco/index.html" style="text-decoration: none;color: #fff;" target="_blank">Live test</a></button>
                        <button class="scd-btn"><a href="https://github.com/Takoua852/El-Pollo-Loco" style="text-decoration: none;color: #fff;" target="_blank">Github</a></button>
                    </div>
            </div>
            <img src=".\assets\img\Pollo loco 1.png" alt="">
        </div>
        <div class="d-flex third-project">
            <img src=".\assets\img\Pictures (PC mock up) (2).png" alt="">
            <div class="project-description">
                <h2 class="project-title">Pokédex</h2>
                <div class="untertitle">JavaScript | HTML | CSS | Api</div>
                <p>Based on the PokéAPI a simple library that provides and catalogues pokemon information.</p>
                <div class="buttonBox">
                    <button class="btn-portfolio"> <a href="https://takoua-jelassi.developerakademie.net/pokedex/" style="text-decoration: none;color: #fff;" target="_blank">Live test</a></button>
                    <button class="scd-btn"><a href="https://github.com/Takoua852/Pokedex" style="text-decoration: none;color: #fff;" target="_blank">Github</a></button>
                </div>
            </div>
        </div>
    </div>
</section>